<mat-toolbar class="bg-dark text-white">
    <span>Dashboard</span>
    <span class="spacer"></span>



    <img src="../assets/images/logo-sm.png" alt="User" class="profile-photo">
    <button class="mx-3 text-white" mat-button [matMenuTriggerFor]=" profileMenu">
        <span>{{ username }}</span>
    </button>
    <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>