<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened [class.minimized]="isMinimized" class="sidenav p-0">
        <div class="sidebar-header">
            <div class="header-logo">
                <h2 class="mt-4 mb-4 mx-0">Admin Dashboard</h2>
            </div>
            <!-- @if (!isMinimized) {
            <button mat-icon-button (click)=" toggleMinimize()">
                <mat-icon>menu</mat-icon>
            </button>} -->
        </div>
        <mat-nav-list>
            <span class="top-tilte">general</span>
            <li>
                <a mat-list-item routerLink="" routerLinkActive="active" class="nav-item">
                    <mat-icon matListItemIcon>dashboard</mat-icon>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a mat-list-item routerLink="/main_category" routerLinkActive="active" class="nav-item">
                    <mat-icon matListItemIcon>category</mat-icon>
                    <span>Categories</span>
                </a>
            </li>
            <li>
                <a mat-list-item routerLink="/sub_category" routerLinkActive="active" class="nav-item">
                    <mat-icon matListItemIcon>view_list</mat-icon>
                    <span>Sub Category</span>
                </a>
            </li>
            <li>
                <a mat-list-item routerLink="/products" routerLinkActive="active" class="nav-item">
                    <mat-icon matListItemIcon>storefront</mat-icon>
                    <span>Products</span>
                </a>
            </li>

        </mat-nav-list>

        <!-- <button mat-icon-button (click)="toggleMinimize()">
            <mat-icon>menu</mat-icon>
        </button> -->
    </mat-sidenav>
</mat-sidenav-container>