 .sidenav-container {
     height: 100vh;
     overflow: hidden;
     transition: 0.5s;
 }

 mat-sidenav {
     width: 100%;
     padding: 10px 20px;
     background-color: #262d34;
     color: white;
 }

 .sidebar-header .header-logo {
     text-align: center;
 }

 mat-nav-list {
     padding: 10px 30px;
 }

 mat-nav-list span.top-tilte {
     cursor: default;
     font-size: 11px;
     letter-spacing: 0.05em;
     text-transform: uppercase;
     opacity: 0.6;
     font-weight: 600;
     height: 36px;
     color: #dfb6b6;
 }

 mat-nav-list li {
     display: flex;
     align-items: center;
     color: #dfb6b6;

 }

 mat-nav-list mat-icon,
 span {
     color: #dfb6b6;
 }

 mat-nav-list li:hover {

     mat-icon,
     span {
         color: white;
     }



 }