.sidenav-container {
    height: 100vh;
    overflow: visible;
    transition: 0.5s;
}

mat-sidenav {
    width: 100%;
    padding: 10px 20px;
    background-color: #262d34;
    color: white;
}

.sidebar-header .header-logo {
    text-align: center;
    align-items: center;
}

mat-nav-list {
    padding: 10px 30px;
}

mat-nav-list span.top-tilte {
    cursor: default;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 600;
    height: 36px;
    color: #dfb6b6;
}

mat-nav-list li {
    display: flex;
    align-items: center;
    color: #dfb6b6;
    position: relative;
}

mat-nav-list mat-icon,
span {
    color: #dfb6b6;
}

mat-nav-list li:hover {

    mat-icon,
    span {
        color: white;
    }
}

.submenu {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #262d34;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 1000;
    display: none;

}

.submenu li {
    padding: 10px;

}

.submenu li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;

}

.submenu li:hover a {
    background-color: #37414a;
    color: white;
}


.submenu.active {
    display: block;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.dropdown-icon {
    transition: transform 0.3s;
}