<body>
    <div class="main-category">
        <div class="container">
            <div class=" card">
                <div class="card-header d-flex align-items-center justify-content-between" style=" background-color: #262d34;
                    color: #aab8c5;">
                    <label class="fs-3">Categories </label>
                    <button class="btn btn-primary" (click)="openDialog()">create categeory</button>
                </div>
                <div class="table-responsive">
                    <table class="table  align-middle table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="px-4" scope="col">Categories</th>
                                <th scope="col">starting price</th>
                                <th scope="col">create by</th>
                                <th scope="col">id</th>
                                <th scope="col">product stock</th>
                                <th scope="col">action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="rounded  d-flex align-items-center justify-content-center">
                                            <img src="../assets/images/p-1.png" alt style="width: 80px;">
                                        </div>
                                        <p class=" fw-medium fs-15 mb-0">Fashion Men , Women & Kid's</p>
                                    </div>
                                </td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                                <td>twitter</td>
                                <td class="icon-cell">
                                    <mat-icon class="icon-edit">edit</mat-icon>
                                    <mat-icon class="icon-delete">delete</mat-icon>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="rounded  avatar-md d-flex align-items-center
                                    justify-content-center">
                                            <img src="../assets/images/p-1.png" alt class="avatar-md"
                                                style="width: 80px;">
                                        </div>
                                        <p class="fw-medium fs-15 mb-0">Fashion Men , Women & Kid's</p>
                                    </div>
                                </td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>twitter</td>
                                <td class="icon-cell">
                                    <mat-icon class="icon-edit">edit</mat-icon>
                                    <mat-icon class="icon-delete">delete</mat-icon>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="rounded  avatar-md d-flex align-items-center
                                    justify-content-center">
                                            <img src="../assets/images/p-1.png" alt class="avatar-md"
                                                style="width: 80px;">
                                        </div>
                                        <p class=" fw-medium fs-15 mb-0">Fashion Men , Women & Kid's</p>
                                    </div>
                                </td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>twitter</td>
                                <td class="icon-cell">
                                    <mat-icon class="icon-edit">edit</mat-icon>
                                    <mat-icon class="icon-delete">delete</mat-icon>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="rounded  avatar-md d-flex align-items-center
                                    justify-content-center">
                                            <img src="../assets/images/p-1.png" alt class="avatar-md"
                                                style="width: 80px;">
                                        </div>
                                        <p class=" fw-medium fs-15 mb-0">Fashion Men , Women & Kid's</p>
                                    </div>
                                </td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>twitter</td>
                                <td class="icon-cell">
                                    <mat-icon class="icon-edit">edit</mat-icon>
                                    <mat-icon class="icon-delete">delete</mat-icon>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="rounded avatar-md d-flex align-items-center
                                    justify-content-center">
                                            <img src="../assets/images/p-1.png" alt class="avatar-md"
                                                style="width: 80px;">
                                        </div>
                                        <p class=" fw-medium fs-15 mb-0">Fashion Men , Women & Kid's</p>
                                    </div>
                                </td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>twitter</td>
                                <td class="icon-cell">
                                    <mat-icon class="icon-edit">edit</mat-icon>
                                    <mat-icon class="icon-delete">delete</mat-icon>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="rounded  avatar-md d-flex align-items-center
                                    justify-content-center">
                                            <img src="../assets/images/p-1.png" alt class="avatar-md"
                                                style="width: 80px;">
                                        </div>
                                        <p class=" fw-medium fs-15 mb-0">Fashion Men , Women &
                                            Kid's</p>
                                    </div>
                                </td>
                                <td>Larry the Bird</td>
                                <td>twitter</td>
                                <td>twitter</td>
                                <td>twitter</td>
                                <td class="icon-cell">
                                    <mat-icon class="icon-edit">edit</mat-icon>
                                    <mat-icon class="icon-delete">delete</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>