<div class="bg_black_dark p-3 radius-10">
    <header>
        <h2 class="text_white">Create Product</h2>
    </header>
    <form [formGroup]="productForm">
        <div class="row ">
            <div class="col-md-6 ">
                <mat-form-field class="w-100 ">
                    <label for="productname">Product name</label>
                    <input matInput placeholder=" name" formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <label for="productname">Name Eng</label>
                    <input matInput placeholder="nameEng" formControlName="nameEng">
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <label for="productname">Description</label>
                    <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <label for="productname">Description Eng</label>
                    <input matInput placeholder="Description Eng" formControlName="descriptionEng">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <label for="productname">Price</label>
                    <input type="number" matInput placeholder="price" formControlName="price">
                </mat-form-field>
            </div>
            <div class=" col-md-4">
                <mat-form-field class="w-100">
                    <label for="productname">acceptCharms</label>
                    <input matInput placeholder="acceptCharms" formControlName="acceptCharms">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <label for="productname">acceptGraver</label>
                    <input matInput placeholder="acceptGraver" formControlName="acceptGraver">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <label for="productname">maxCharmCount</label>
                    <input matInput placeholder="maxCharmCount" formControlName="maxCharmCount">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <label for="productname">sizes</label>
                    <input matInput placeholder="sizes" formControlName="sizes">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <label for="productname">productCategoryId</label>
                    <input matInput placeholder="productCategoryId" formControlName="productCategoryId">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <label for="productname">productColors</label>
                    <input matInput placeholder="productColors" formControlName="productColors">
                </mat-form-field>
            </div>
        </div>
        <div style="float: right">
            <app-bg-orange [title]="'Submit'" (click)="onSubmit()"></app-bg-orange>
        </div>
    </form>
</div>