<div class="bg_black_dark p-3 radius-10">
    <header>
        <h2 class="text_white">Create Product</h2>
    </header>
    <form [formGroup]="productForm">
        <div class="row ">
            <div class="col-md-6 ">
                <mat-form-field class="w-100 ">
                    <mat-label for="productname">Product name ar</mat-label>
                    <input matInput placeholder=" name" formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label for="productname">Product name en</mat-label>
                    <input matInput placeholder="nameEng" formControlName="nameEn">
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label for="productname">Description ar</mat-label>
                    <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label for="productname">Description en</mat-label>
                    <input matInput placeholder="Description Eng" formControlName="descriptionEn">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label for="productname">Price</mat-label>
                    <input type="number" matInput placeholder="price" formControlName="price">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label for="productname">Discount price</mat-label>
                    <input type="number" matInput placeholder="price" formControlName="discountPrice">
                </mat-form-field>
            </div>
            
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Sup category</mat-label>
                    <mat-select formControlName="subCategoryId">
                        <mat-option *ngFor="let item of supCategoryList" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div style="float: right">
            <app-bg-orange [title]="'Submit'" (click)="onSubmit()"></app-bg-orange>
        </div>
    </form>
</div>