/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  background-color: #22282e!important;

}

body {
  margin: 0;
  overflow-x: hidden;
}

/* global color */

.text_white {
  color: #fff !important;
}

/* global background */

.bg_black_dark{
  background: #22282e;
}

/* global border radius */

.radius-10{
  border-radius: 10px;
}

/* table */

table {
  border-radius: 10px;
}
thead{
  background: #293138 !important;
}
thead tr {
  color: #aab8c5 !important;
}
.mat-mdc-table .mat-mdc-header-cell:first-child {
  border-top-left-radius: 6px;
}
.mat-mdc-table .mat-mdc-header-cell:last-child {
  border-top-right-radius: 6px !important;
}


tbody{
  background: #282f36 !important;
}
tbody td {
  color: #fff !important;

}

/* paginator */

mat-paginator{
  background: #293138 !important;
  color: #fff !important;
}

.mat-mdc-paginator-container{
  justify-content: center !important;
}
.mat-mdc-icon-button .mat-mdc-paginator-icon{
  fill: #fff !important;
}
.mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon{
  fill: gray !important;
}
.mat-mdc-select-value-text{
  color: #fff;
}
.mat-mdc-select-arrow svg{
  fill: #fff;
}