<div class="bg_black_dark p-3 radius-10">
    <header>
        <h2 class="text_white">Create sup category</h2>
    </header>
    <form [formGroup]="supCategoryForm">
        <div class="">
            <mat-form-field class="w-100">
                <mat-label>Main Category</mat-label>
                <mat-select formControlName="categoryId">
                    <mat-option *ngFor="let item of categoriesList" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="d-inline">
                <input matInput class="" placeholder="name in english" formControlName="nameEn">
            </mat-form-field>
            <mat-form-field class="d-inline">
                <input matInput class="" placeholder="name in arabic" formControlName="name">
            </mat-form-field>
        </div>
        <div mat-dialog-actions style="float: right;">
            <app-transparent class="me-2" mat-dialog-close [title]="'Cancel'"></app-transparent>
            <app-bg-orange [title]="'Submit'" (click)=" onSubmit()"></app-bg-orange>
        </div>
    </form>
</div>